.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #0037d6;
  color: white;
  padding: 1.5rem;
  font-weight: bold;
}

.sidebar .logo {
  width: 160px;
  display: block;
  margin: 0 auto 2rem auto;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.sidebar .active {
  background-color: white;
  color: #0037d6 !important;
  font-weight: bold;
}

.sidebar .logout-btn {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}